/* =================
EDIT THIS CSS FILE
TO YOUR DESIRES
================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header-brand h6.title {
    font-size: 0pt;
}

.streaming__question {
    font-family: Poppins, sans-serif;
    font-weight: 450;
}

.streaming__logo {
    background-image: url('https://dynamic.brandcrowd.com/asset/logo/eeab1f87-49e6-4ca7-8e15-2757b26209ff/logo-search-grid-1x?logoTemplateVersion=1&v=637517418295730000') !important;
}