.question__text {
  font-size: 13pt;
}

.question__vote {
  cursor: pointer;
}

.question__vote .icon {
  transition: 0.1s;
}

.question__vote:hover .icon {
  transform: scale(1.3);
}

.question__response_area {
  min-height: 0rem !important;
}

textarea {
  transition-property: border !important;
}

.frame {
  box-shadow: 0 .2rem 1.25rem 0 rgba(27,30,36,.22) !important;
}

.presenter__question {
  font-size: 17pt;
}

.presenter__question .question__text {
  font-size: 20pt;
}

.presenter__spotlight .question__text {
  font-size: 22pt;
}

.presenter__actions div {
  cursor: pointer;
  font-size: 12pt;
  padding: 0.3rem;
}

.presenter__actions i {
  transition: 0.1s;
}

.presenter__actions div:hover i.fa-lightbulb {
  color: #fab633;
}

.presenter__actions div:hover i.fa-check {
  color: #0dd157;
}

.presenter__actions div:hover i.fa-caret-down {
  color: #fb4143;
}

.presenter__question .frame__body {
  transition: 0.2s;
}

.presenter__question .question__text {
  transition: 0.05s;
}

.streaming__container {
  position: absolute;
  bottom: 8vh;
  align-items: center;
  border-radius: 20vw;
  left: 0%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: stretch;
  justify-content: space-around;
  gap: 5vw;
  padding: 0 5vw;
  box-sizing: border-box;

  transition: 0.7s all;
}

.streaming__logo {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/05/Emblem-question-red.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  grid-area: 1 / 1 / 2 / 2;

  transition: 0.7s all;
}

.streaming__question_container {
  display: contents;
}

.streaming__question {
  min-height: 18vh;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0.5);
  border-radius: 20vw;
  padding: 1vw 5vw;
  width: 100%;

  font-size: 2.2vw;

  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  align-items: center;
}

@keyframes streaming__slidein {
  from {
      transform: translateX(-140%);

      filter: blur(3px);
      opacity: 0;
  }

  to {
      transform: translateX(0%);

      filter: blur(0);
      opacity: 1;
  }
}

@keyframes streaming__blurin {
  from {
    max-height: (0);
      filter: blur(4px);
      opacity: 0;
      box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0);
  }

  to {
      filter: blur(0);
      opacity: 1;
  }
}

.streaming__transition-enter-active.streaming__question {
  animation: 0.7s 1 normal both streaming__blurin;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1.0);
}

.streaming__transition-exit-active.streaming__question {
  animation: 0.7s 1 reverse forwards streaming__blurin;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1.0);
}

.streaming__transition-enter-active.streaming__logo {
  animation: 0.7s 1 normal both streaming__slidein;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1.0);
}

.streaming__transition-exit-active.streaming__logo {
  animation: 0.7s 1 reverse forwards streaming__slidein;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1.0);
}

.streaming__question.streaming__question_wordy {
  text-align: justify;
  border-radius: 4vw;
  font-size: 1.8vw;
  padding: 4vw;
}

.header .nav-item > span {
  padding: .5rem 1rem;
}
.nav-item > span {
  align-items: center;
  display: flex;
}
.date__main{
  margin-bottom: -1rem !important;
}

.content {
  width: 80%;
}

.card__action-bar {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  align-items: center;
}

.admin__question_time {
  text-align: right;
  grid-column: 5;
}