.question__text {
  font-size: 13pt;
}

.question__vote {
  cursor: pointer;
}

.question__vote .icon {
  transition: 0.1s;
}

.question__vote:hover .icon {
  transform: scale(1.3);
}

.question__response_area {
  min-height: 0rem !important;
}

textarea {
  transition-property: border !important;
}

.frame {
  box-shadow: 0 .2rem 1.25rem 0 rgba(27,30,36,.22) !important;
}

.presenter__question {
  font-size: 17pt;
}

.presenter__question .question__text {
  font-size: 20pt;
}

.presenter__spotlight .question__text {
  font-size: 22pt;
}

.presenter__actions div {
  cursor: pointer;
  font-size: 12pt;
  padding: 0.3rem;
}

.presenter__actions i {
  transition: 0.1s;
}

.presenter__actions div:hover i.fa-lightbulb {
  color: #fab633;
}

.presenter__actions div:hover i.fa-check {
  color: #0dd157;
}

.presenter__actions div:hover i.fa-caret-down {
  color: #fb4143;
}

.presenter__question .frame__body {
  transition: 0.2s;
}

.presenter__question .question__text {
  transition: 0.05s;
}

.header .nav-item > span {
  padding: .5rem 1rem;
}
.nav-item > span {
  align-items: center;
  display: flex;
}