.question__text {
  font-size: 13pt;
}

.question__vote {
  cursor: pointer;
}

.question__vote .icon {
  transition: 0.1s;
}

.question__vote:hover .icon {
  transform: scale(1.3);
}

.question__response_area {
  min-height: 0rem !important;
}

textarea {
  transition-property: border !important;
}

.frame {
  box-shadow: 0 .2rem 1.25rem 0 rgba(27,30,36,.22) !important;
}

.presenter__question {
  font-size: 17pt;
}

.presenter__question .question__text {
  font-size: 20pt;
}

.presenter__spotlight .question__text {
  font-size: 22pt;
}

.presenter__actions div {
  cursor: pointer;
  font-size: 12pt;
  padding: 0.3rem;
}

.presenter__actions i {
  transition: 0.1s;
}

.presenter__actions div:hover i.fa-lightbulb {
  color: #fab633;
}

.presenter__actions div:hover i.fa-check {
  color: #0dd157;
}

.presenter__actions div:hover i.fa-caret-down {
  color: #fb4143;
}

.presenter__question .frame__body {
  transition: 0.2s;
}

.presenter__question .question__text {
  transition: 0.05s;
}

.streaming__question {
  margin: 5vw;
  padding: 3vh 4vw;

  font-size: 30pt;
  font-weight: 600;

  border-radius: 1vw;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  left: 15vw;
  bottom: 5vh;

  background-color: rgba(255,255,255,0.9);

  box-shadow: 0 .2rem 1.25rem 0 rgba(27,30,36,.5) !important;
}

.header .nav-item > span {
  padding: .5rem 1rem;
}
.nav-item > span {
  align-items: center;
  display: flex;
}
.date__main{
  margin-bottom: -1rem !important;
}

.content {
  width: 80%;
}